.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
build/**
!node_modules/@vscode/sqlite3/build/**
!dist/**
!media/**
rspack.config.ts
CLAUDE.md
pnpm-lock.yaml
icon_large.png
*.py
Worker/**
*.vsix
.git/**
.github/**